{{ model | json }}
<div class="container">
  <h2>Actor form</h2>
  <form #actorForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        [(ngModel)]="model.name"
        name="name"
        required
      />
    </div>

    <div class="form-group">
      <label for="studio">Studio</label>
      <input
        type="text"
        class="form-control"
        id="studio"
        [(ngModel)]="model.studio"
        name="studio"
      />
    </div>

    <div class="form-group">
      <label for="skill">Skills</label>
      <select
        class="form-control"
        id="skill"
        [(ngModel)]="model.skill"
        name="skill"
        required
      >
        <option *ngFor="let skill of skills" [value]="skill">
          {{ skill }}
        </option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
