<div class="container">
  <form [formGroup]="actorForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        class="form-control"
        formControlName="name"
        required
      />
      @if (name.invalid && (name.dirty || name.touched)) {
      <div class="alert alert-danger">
        @if (name.hasError('required')) {
        <div>Name is required</div>
        } @if (name.hasError('minlength')) {
        <div>Name must be altleast 4 charcters long</div>
        } @if (name.hasError('forbiddenName')) {
        <div>Name is invalid</div>
        }
      </div>
      }
    </div>

    <div class="form-group">
      <label for="role">Role</label>
      <input
        type="text"
        id="role"
        class="form-control"
        formControlName="role"
        required
      />
    </div>

    <div class="form-group">
      <label for="skill">Skill</label>
      <input
        type="text"
        id="skill"
        class="form-control"
        formControlName="skill"
        required
      />
      @if (skill?.invalid && (skill?.dirty || skill?.touched)) {
      <div class="alert alert-danger">
        @if (skill?.hasError('required')) {
        <div>Skill is required</div>
        }
      </div>
      }
    </div>

    @if (actorForm.hasError('mustNotMatch') && (actorForm.touched ||
    actorForm.dirty)) {
    <div class="alert alert-danger">
      Name and role must not match each other
    </div>
    }

    <button [disabled]="actorForm.invalid">Submit</button>
  </form>
</div>
